<html><body style="background-color:#F0F8FF"></body></html>

<h1>Contact Me</h1>
<br>

<form>
  Name:<br>
  <input type="text" name="name">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Message:<br>
  <input type="text" name="message">
  <br><br>
  <input type="submit" value="Submit"
</form>

<br><br>

<h4>Or just send me a message at <a href="mailto:goyalv@gmail.com?subject=Yo, Vipin!">goyalv@gmail.com.</a></h4>
