<html><body style="background-color:#F0F8FF"></body></html>
<h1>Vipin Goyal</h1>
<h4>Cofounder/Partner, Shipyard NYC (previously Founder/CEO of SideTour, acquired by Groupon)</h4>
Vipin was the Cofounder & CEO of SideTour, a marketplace of unique experiences, which was acquired by Groupon in the fall of 2013. After joining Groupon, in addition to managing the SideTour business, Vipin also led sales & business development for GrouponLive. Vipin's previous work experiences include Joost, MTV Networks and McKinsey & Company, and he has an AB in Economics and an MBA from Harvard. A few months ago, Vipin left Groupon to start working on a new venture with his two SideTour cofounders.
<p></p>
<br>
<a href="https://www.linkedin.com/in/vipingoyal">LinkedIn</a>&nbsp;&nbsp;|&nbsp;
<a href="https://twitter.com/vipingoyal">Twitter</a>&nbsp;&nbsp;|&nbsp;
<a href="https://www.facebook.com/vgoyal">Facebook</a>
<p></p>
